<!-- Commit comments 
-->

<!doctype html>
<html>
<!--Basic mobile web page layout, source: http://www.w3schools.com/w3css/w3css_mobile.asp-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3.css">
<head>
	<title>
		Habit Rabbit
	</title>
</head>
<div class="container">
	<!--<h1>This is our exercise page</h1>-->
<body>
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="js/bootstrap.js"></script>
	<script src="js/habitrabbit.js"></script>
	<link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/bootstrap-theme.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet"> 

	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container-fluid">
			<ul class="nav navbar-nav">
				<li>
					<div id="back-button">
						<h4>
							<span class="glyphicon glyphicon-chevron-left">&nbsp&nbsp</span>
						</h4>
					</div>
				</li>
				<li><h2 class="title">&nbspExercises</h2></li>
			</ul>
		</div>
	</nav>
<!--Should read JSON file to update exercise list, with filtering system-->

{{#each exercises}}
	<div class = "exercise" id="{{id}}">
		<table style="width: 50%">
			<tr>
				<td><a href="exercisePage/{{id}}"><img class="img-thumbnail" src="{{imageURL}}"/></a></td>
				<td class="exerciseName"><a href="exercisePage/{{id}}"><h4>{{name}}</h4></a></td>
				{{#if fav}}
				<td class="fav"><img src="images/red-heart.png"/></td>
				{{else}}
				<td class="fav"><img src="images/heart-icon.png"/></td>
				{{/if}}
			</tr>
		</table>
	</div>
{{/each}}

	<script>
   $(document).ready(function() {
   $(".exercise:even").css("background-color","#FFFFFF"); 
   $(".exercise:odd").css("background-color","#f2f2f2"); 
 });
 </script>

<script>
//CHANGE LOCALHOST:3000 to heroku or w/e & eventually fix it so it works anywhere
	$('.fav').click(function() {
		console.log("it worked!");
		var exerciseID = $(this).closest('.exercise').attr('id');
		var favoritesURL = "exercises" ;

		$.post("/exercises/addFav",
		{
			"id1": exerciseID
		}, function(id1) {
			var imgLink = $('#'+id1+' .fav img')[0].src;
			//if red-heart.png is contained in src, then change to heart-icon
			if (imgLink.indexOf("red-heart.png") >= 0) {
				console.log("User un-favorited exercise");
				$('#'+id1+' .fav img')[0].src = "images/heart-icon.png"
			}
			else if (imgLink.indexOf("heart-icon.png") >= 0) {
					console.log("User favorited exercise");
					$('#'+id1+' .fav img')[0].src = "images/red-heart.png"
			}
			console.log($('#'+id1+' .fav img')[0].src)
		})

	});
	</script>

<!--Navigation bar, exercise tab active https://getbootstrap.com/components/#navbar-->
	<nav class="navbar navbar-inverse navbar-fixed-bottom">
		<div class="container-fluid">
			<ul class="nav navbar-nav">
				<li ><a href="/home">
					<span class="glyphicon glyphicon-home">Home</span></a></li>
				<li class="active"><a href="/exercises">
					<span class="glyphicon glyphicon-tint">Exercises<span></a></li>
				<li><a href="/favorites">
					<span class="glyphicon glyphicon-heart">Favorites<span></a><li>
			</ul>
		</div>
	</nav>

</body>
</div>
</html>