<!doctype html>
<html>
<!--Basic mobile web page layout, source: http://www.w3schools.com/w3css/w3css_mobile.asp-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
<head>
	<title>
		Habit Rabbit
	</title>
</head>
<body>
<div class="container">
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.js"></script>
	<script src="/js/habitrabbit.js"></script>
	<link href="/css/bootstrap.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.css" rel="stylesheet">
	<link href="/css/style.css" rel="stylesheet"> 
	<!-- Glyphicons from https://getbootstrap.com/components/#glyphicons-->
	<!-- Top navigation bar with back button and page title-->
		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="container-fluid">
			<ul class="nav navbar-nav">
				<li>
					<div id="back-button">
						<h4>
							<span class="glyphicon glyphicon-chevron-left">&nbsp&nbsp</span> 
						</h4>
					</div>
				</li>

			</ul>
		</div>
	</nav>
	
</div>

<div class = "exPageContent">

	<h2>
			{{name}}
	</h2>
	<h4>Body Part:&nbsp{{bodyPart}}
		{{#if fav}}
		<img class="heart" src="../images/red-heart.png" class="img-responsive"/></h4>
		{{else}}
		<img class="heart" src="../images/heart-icon.png" class="img-responsive"/></h4>
		{{/if}}
	<h4>Time: &nbsp{{time}}</h4>
	<br>
	<div class="exDescription">
		<p>{{description}}</p>
	</div>
	<img class="exPageImage" src ="{{imageURL}}"/>
	<img class="whitespace" src ="../images/whitespace.png"/>

<!--Navigation bar, exercise tab active https://getbootstrap.com/components/#navbar-->
	<nav class="navbar navbar-default navbar-fixed-bottom">
		<div class="container-fluid">
			<ul class="nav navbar-nav">
				<li><a href="/home">
					<span class="glyphicon glyphicon-home">Home</span></a></li>
				<li class="active"><a href="/exercises">
					<span class="glyphicon glyphicon-tint">Exercises<span></a></li>
				<li><a href="/favorites">
					<span class="glyphicon glyphicon-heart">Favorites<span></a><li>
			</ul>
		</div>
	</nav>
</body>
</html>
