<!doctype html>
<html>
<!--Basic mobile web page layout, source: http://www.w3schools.com/w3css/w3css_mobile.asp-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
<head>
	<title>
		Habit Rabbit
	</title>
</head>
<div class="container">
	<!--<h1>This is our exercise page</h1>-->
<body>
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="js/bootstrap.js"></script>
	<script src="js/habitrabbit.js"></script>
	<link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/bootstrap-theme.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet"> 

	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container-fluid">
			<ul class="nav navbar-nav">
				<li>
					<div id="back-button">
						<h4>
							<span class="glyphicon glyphicon-chevron-left">&nbsp&nbsp</span>
						</h4>
					</div>
				</li>
				<li><h4>&nbspExercises</h4></li>
			</ul>
		</div>
	</nav>
<!--Should read JSON file to update exercise list, with filtering system-->

{{#each exercises}}
	<div class = "{{bodyPart}}" style="visibility:hidden">
		<table style="width: 50%">
			<tr>
				<td><a href="exercisePage/{{name}}"><img class="img-thumbnail" src="{{imageURL}}"/></a></td>
				<td><a href="exercisePage/{{name}}"><h3>{{name}}</h3></a></td>
				<td><img src="images/heart-icon.png"/></td>
			</tr>
		</table>
	</div>
{{/each}}

<!--
		<table style="width:50%">
			<tr>
					<td><a href="/exercisePage"><img class="img-thumbnail" 
						src="https://www.acefitness.org/images/webcontentcategory/1.jpg" class="img-thumbnail"/></a></td>
						<td><a href="/exercisePage"><h3>&nbspWrist&nbspExercise</h3></td></a> 
				<td><img src="images/heart-icon.png"/></td>
			</tr>
			<tr>
				<td><a href="/exercisePage"><img class="img-thumbnail" src="https://www.acefitness.org/images/webcontentcategory/1.jpg" class="img-responsive"/></a> </td>
				<td><a href="/exercisePage"><h3>&nbspArm&nbspExercise</h3></a> </td>
				<td><img src="images/heart-icon.png" class="img-responsive"/>  </td>
			</tr>
			<tr>
				<td><a href="/exercisePage"><img class="img-thumbnail" src="https://www.acefitness.org/images/webcontentcategory/1.jpg" class="img-responsive"/> </a></td>
				<td><a href="/exercisePage"><h3>&nbspElbow&nbspExercise</h3> </a></td>
				<td><img src="images/heart-icon.png" class="img-responsive"/>  </td>
			</tr>
		</table>

	</div>
-->

<!--Navigation bar, exercise tab active https://getbootstrap.com/components/#navbar-->
	<nav class="navbar navbar-default navbar-fixed-bottom">
		<div class="container-fluid">
			<ul class="nav navbar-nav">
				<li ><a href="/home">
					<span class="glyphicon glyphicon-home">Home</span></a></li>
				<li class="active"><a href="/exercises">
					<span class="glyphicon glyphicon-tint">Exercises<span></a></li>
				<li><a href="/favorites">
					<span class="glyphicon glyphicon-heart">Favorites<span></a><li>
			</ul>
		</div>
	</nav>

		<script src="https://code.jquery.com/jquery-1.11.0.js"></script>
		<script src="js/bootstrap.js"></script>
		<script src="/js/bootstrap.min.js"></script>
		<script>
			var x = document.getElementsByClassName("{{part.0.name}}");
			var i;
			for (i = 0; i < x.length; i++) {
			    x[i].style.visibility = "visible";
			}
		</script>
</body>
</div>
</html>