<!-- Commit comments 
-->

<!doctype html>
<html>
<!-- Google Analytics Content Experiment code -->
<script>function utmx_section(){}function utmx(){}(function(){var
k='142344029-1',d=document,l=d.location,c=d.cookie;
if(l.search.indexOf('utm_expid='+k)>0)return;
function f(n){if(c){var i=c.indexOf(n+'=');if(i>-1){var j=c.
indexOf(';',i);return escape(c.substring(i+n.length+1,j<0?c.
length:j))}}}var x=f('__utmx'),xx=f('__utmxx'),h=l.hash;d.write(
'<sc'+'ript src="'+'http'+(l.protocol=='https:'?'s://ssl':
'://www')+'.google-analytics.com/ga_exp.js?'+'utmxkey='+k+
'&utmx='+(x?x:'')+'&utmxx='+(xx?xx:'')+'&utmxtime='+new Date().
valueOf()+(h?'&utmxhash='+escape(h.substr(1)):'')+
'" type="text/javascript" charset="utf-8"><\/sc'+'ript>')})();
</script><script>utmx('url','A/B');</script>
<!-- End of Google Analytics Content Experiment code -->

<!--Basic mobile web page layout, source: http://www.w3schools.com/w3css/w3css_mobile.asp-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3.css">
<head>
	<title>
		Habit Rabbit
	</title>
</head>
<div class="container">
	<!--<h1>This is our exercise page</h1>-->
<body>
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="js/bootstrap.js"></script>
	<script src="js/habitrabbit.js"></script>
	<link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/bootstrap-theme.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet"> 

	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container-fluid">
			<ul class="nav navbar-nav">
				<li>
					<div id="back-button">
						<h4>
							<span class="glyphicon glyphicon-chevron-left">&nbsp&nbsp</span>
						</h4>
					</div>
				</li>
				<li><h2 class="title">&nbspExercises</h2></li>
			</ul>
		</div>
	</nav>
<!--Should read JSON file to update exercise list, with filtering system-->

<!--
{{#each exercises}}
	<div class = "exercise" id="{{id}}">
		<div data-role="page" id="pageone">
			<div data-role="main" class="ui-content">
				<ul data-role="listview" data-inset="true">
					<li>
						<a href="exercisePage/{{id}}">
						<img class="img-thumbnail" src="{{imageURL}}"/>
						<h4 class="exerciseName">{{name}}</h4>
						</a>
						{{#if fav}}
						<img class="fav" src="images/red-heart.png"/>
						{{else}}
						<img class="fav" src="images/heart-icon.png"/>
						{{/if}}
					</li>
				</ul>
	</div>
{{/each}}
-->

{{#each exercises}}
	<div class = "exercise" id="{{id}}">
		<table>
			<tr>
				<td><a  class="viewedExercise" href="exercisePage/{{id}}"><img class="img-thumbnail" src="{{imageURL}}"/></a></td>
				<td class="exerciseName"><a class="viewedExercise" href="exercisePage/{{id}}"><h4>{{name}}</h4></a></td>
				{{#if fav}}
				<td class="fav"><img src="images/red-heart.png"/></td>
				{{else}}
				<td class="fav"><img src="images/heart-icon.png"/></td>
				{{/if}}
			</tr>
		</table>
	</div>
{{/each}}

<script>
$('.fav').click(function() {
		var exerciseID = $(this).closest('.exercise').attr('id');
		var favoritesURL = "exercises" ;

		$.post("/exercises/addFav",
		{
			"id1": exerciseID
		}, function(id1) {
			var imgLink = $('#'+id1+' .fav img')[0].src;
			//if red-heart.png is contained in src, then change to heart-icon
			if (imgLink.indexOf("red-heart.png") >= 0) {
				console.log("User un-favorited exercise");
				$('#'+id1+' .fav img')[0].src = "images/heart-icon.png"
			}
			else if (imgLink.indexOf("heart-icon.png") >= 0) {
					console.log("User favorited exercise");
					$('#'+id1+' .fav img')[0].src = "images/red-heart.png"
			}
			console.log($('#'+id1+' .fav img')[0].src)
		})

	});
	</script>

<!--Navigation bar, exercise tab active https://getbootstrap.com/components/#navbar-->
	<nav class="navbar navbar-inverse navbar-fixed-bottom">
		<div class="container-fluid">
			<ul class="nav navbar-nav">
				<li ><a href="/home">
					<span class="glyphicon glyphicon-home">Home</span></a></li>
				<li class="active"><a href="/exercises">
					<span class="glyphicon glyphicon-tint">Exercises<span></a></li>
				<li><a href="/favorites">
					<span class="glyphicon glyphicon-heart">Favorites<span></a><li>
			</ul>
		</div>
	</nav>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-92515150-1', 'auto');
  ga('send', 'pageview');

</script>
</body>
</div>
</html>