<!doctype html>
<html>
<!--Basic mobile web page layout, source: http://www.w3schools.com/w3css/w3css_mobile.asp-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
<head>
	<title>
		Habit Rabbit
	</title
</head>
<body>
<div class="container">
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="js/bootstrap.js"></script>
	<script src="js/habitrabbit.js"></script>
	<link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/bootstrap-theme.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet"> 
		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="container-fluid">
			<ul class="nav navbar-nav">
				<li>
					<div id="back-button">
						<h4>
							<span class="glyphicon glyphicon-chevron-left">&nbsp&nbsp</span>
						</h4>
					</div>
				</li>
				<li><h4>&nbspFavorites</h4></li>
			</ul>
		</div>
	</nav>

	<div class = "Favorites">

	{{#each exercises}}
	<div class = "exercise" id="{{id}}">
		<table style="width: 50%">
				{{#if fav}}
			<tr>
				<td><a href="exercisePage/{{id}}"><img class="img-thumbnail" src="{{imageURL}}"/></a></td>
				<td class="exerciseName"><a href="exercisePage/{{id}}"><h4>{{name}}</h4></a></td>
				<!-- Don't need this here!<td class="fav"><img src="images/red-heart.png"/></td> -->
				{{/if}}
			</tr>
		</table>
	</div>
	{{/each}}
	</div>

<!--
	<script>
//CHANGE LOCALHOST:3000 to heroku or w/e & eventually fix it so it works anywhere
		$('.fav').click(function() {
			console.log("it worked!");
			var exerciseID = $(this).closest('.exercise').attr('id');
			var favoritesURL = "exercises" ;

			$.post("/exercises/addFav",
			{
				"id1": exerciseID
			}, function(id1) {
				console.log(window.location.hostname)
				if ($('#'+id1+' .fav img')[0].src == "http://localhost:3000/images/red-heart.png") {
					console.log("User un-favorited exercise");
					$('#'+id1+' .fav img')[0].src = "http://localhost:3000/images/heart-icon.png"
				} 	
				else if ($('#'+id1+' .fav img')[0].src == "http://localhost:3000/images/heart-icon.png") {
					console.log("User favorited exercise");
					$('#'+id1+' .fav img')[0].src = "http://localhost:3000/images/red-heart.png"
				}
				console.log($('#'+id1+' .fav img')[0].src)
			})

		});
	</script>
-->

<!--Navigation bar, fav tab active https://getbootstrap.com/components/#navbar-->
	<nav class="navbar navbar-default navbar-fixed-bottom">
		<div class="container-fluid">
			<ul class="nav navbar-nav">
				<li><a href="/home">
					<span class="glyphicon glyphicon-home">Home</span></a></li>
				<li><a href="/exercises">
					<span class="glyphicon glyphicon-tint">Exercises<span></a></li>
				<li class="active"><a href="/favorites">
					<span class="glyphicon glyphicon-heart">Favorites<span></a><li>
			</ul>
		</div>
	</nav>
		<script src="https://code.jquery.com/jquery-1.11.0.js"></script>
		<script src="js/bootstrap.js"></script>
		<script src="/js/bootstrap.min.js"></script>
</body>
</html>


